@import "tailwindcss";

@font-face {
  font-family: "Baloo Bhai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/BalooBhai/BalooBhai2-Regular.woff2") format("woff2");
}

#title {
  color: #FFF;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 7px #2783E6;
  font-family: "Baloo Bhai";
  font-size: 80px;
  line-height: normal;
  top: 52px;
  left: 101px;
}

.fullscreen-background {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #A0D2FF;
  margin: 0;
  padding: 80px;
}

.button-row {
  display: flex;
  gap: 20px;
}

.add-button {
  top: 500px;
  left: 150px;
  width: 150px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  color: #2783E6;
  font-family: "Baloo Bhai";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  box-shadow: 
    inset 0 1px 2px 0 #f4f4f4,
    0 2px 2px 0 #efefef,
    0 4px 4px 0 #ececec,
    0 6px 6px 0 #e0e0e0,
    0 8px 8px 0 #cecece;
}

.add-button:hover {
  transform: translateY(4px);
}

.calc-button {
  position: absolute;
  left: 300px;
  width: 200px;
  height: 70px;
  background: linear-gradient(to right, #3b82f6, #2563eb, #1d4ed8);
  color: white;
  font-family: "Baloo Bhai";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  margin-bottom: 10px;
  box-shadow: 
    inset 0 1px 0 0 #1d4ed8,
    0 2px 0 0 #1540b5,
    0 4px 0 0 #1540b5,
    0 7px 0 0 #0d2e86,
    0 7px 8px 0 #0d2e86;
}

.calc-button:hover {
  transform: translateY(4px);
}

.class-box {
  font-size: 20px;
  width: 500px;
  height: 70px;
  background: #EEE;
  margin: 20px;
}

.meter-box {
  position: absolute;
  bottom: 0;
  right: 0;
}