@import "tailwindcss";

@font-face {
  font-family: "Baloo Bhai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/BalooBhai/BalooBhai2-Regular.woff2") format("woff2");
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}


#title {
  color: black;
  font-weight: 400;
  font-family: "Baloo Bhai";
  font-size: 80px;
  line-height: normal;
  top: 52px;
  left: 101px;
}

.fullscreen-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 80px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image:
    repeating-linear-gradient(0deg, #c1d5ea, #c1d5ea 2px, transparent 2px, transparent 40px),
    repeating-linear-gradient(-90deg, #c1d5ea, #c1d5ea 2px, transparent 2px, transparent 40px);
  background-size: 40px 40px;
  background-position: 20px 20px, 0 0;
  overflow: scroll;
}

.button-row {
  display: flex;
  gap: 20px;
  margin-top: -20px;
  z-index: 10;
}

.add-button {
  left: 150px;
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background-size: cover;
  background: #FFF;
  color: black;
  border: 2px solid black;
  font-family: "Baloo Bhai";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  box-shadow: 5px 5px rgb(135, 171, 226);
}

.add-button:hover {
  transform: translateY(4px);
}

.calc-button {
  position: absolute;
  left: 300px;
  width: 200px;
  height: 60px;
  background: #ffffff;
  color: black;
  border: 2px solid black;
  font-family: "Baloo Bhai";
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  margin-bottom: 10px;
  box-shadow: 5px 5px rgb(135, 171, 226);
}

.calc-button:hover {
  transform: translateY(4px);
}

.class-box {
  padding: 10px;
  font-size: 20px;
  width: 550px;
  height: 80px;
  background: #ffffff;
  margin: 18px;
  border-radius: 10px;
  border: black 1px solid;
  position: relative;
}

.class-container {
  margin: 15px;
  height: 450px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-right: 6px;
}

.meter-box {
  position: absolute;
  width: 300px;
  height: auto;
  bottom: 25%;
  right: 5%;
}

.meter-box:hover {
  animation: jump 0.3s;
}

.title-box {
  width: 500px;
  display: block;
  margin-left: -100px;
  margin-top: -100px;
  margin-bottom: -12px;
  z-index: 0;
}

.title-svg {
  display: block;
  object-fit: cover;
  animation: float 2.5s ease-in-out infinite;
}

.delete-button {
  position: relative;
  float: right; 
  color: red;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.professor-list{
  background-color: #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
}

.course-list {
  background-color: #ccc;
  position: relative;
  display: flex;
  margin-left: 240px;
  flex-direction: column;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
}

.info-text {
  display: flex;
  margin-top: -50px;
  margin-bottom: 60px;
  font-family: "Baloo Bhai";
  font-size: 25px;
}

.rating-box {
  bottom: 0px;
  left: 50%;
  padding: 10px;
  font-size: 20px;
  min-width: 100px;
  width: 20%;
  height: 400px;
  background: #ffffff;
  margin: 20px;
  border-radius: 10px;
  border: black 1px solid;
  z-index: 50;
}

.cooked-img {
  font-size: 30px;
  font-family: "Baloo Bhai";
  text-align: center;
  position: absolute;
  right: 30%;
  width: 300px;
  height: auto;
}